# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and config
.env
*.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python virtual environments
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.swp
*.bak

# Directories to ignore
Lib
Scripts
pyvenv.cfg
share